body {
       width: 100%;
       margin: auto;
       
      
}
#container {
       display:grid;
}

header {
       grid-column: 1/13;
       grid-row: 1;
       background-color: #b3d9ff;
       text-align: center;
}
img {
        float: left;
}
section {
          grid-column: 1/13;
          grid-row: 2;
          padding: 40px;
          border: 4px inset black;
          background-color:white;
          text-align: left;
}
table, th, td {
           border: 1px solid black;
          
       
}
th {
        background-color: #4CAF50;
        color: white;
}
footer {
       grid-column: 1/13;
       grid-row: 3;
       background-color:  #b3d9ff;
       text-align: center;
}
     
}

